@{
    ViewBag.Title = "Watcher";
}

<h1>Welcome to Watcher!</h1>
<p>
    If you like watching TV-shows then this is the website for you! You can easily keep track of your favorite TV-shows without the need to check IMDB for release dates.
    After subscribing to a show you will get automatically notified when a new episode is available!
    <ul>
        <li>Get an email when a new episode / movie is released!</li>
        <li>Get an email when your favorite actor is playing in a new show / movie!</li>
        <li>Integration for Notify My Android!</li>
    </ul>
</p>

<p>Enjoy!</p>

<img id="image" style="width:300px; height: 500px" />

<script>
    $(document).ready(function() {
        $.ajax({
            dataType: "json",
            type: 'POST',
            url: '@Url.Action("GetImage", "Home")',
            success: displayImage
        });

        function displayImage(image) {
            $('#image').attr('src', 'data:image/png;base64,' + image);
        }
    });
</script>