@{
    ViewBag.Title = "Watcher";
}

<h1>Tv shows</h1>
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" id="search" placeholder="Search..">
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <ul id="searchList" data-bind="foreach: searchResults">
                <li>
                    <a href="javascript:void(0)" data-bind="text: name, attr: { id: id }"> </a>
                </li>
            </ul>
        </div>

        <h2>Top rated shows</h2>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <ul id="topRated" data-bind="foreach: topRated">
                <li>
                    <a href="javascript:void(0)" data-bind="text: name, attr: { id: id }"> </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<p id="succesMessage" class="bg-success hidden" style="height: 35px; line-height: 35px; padding-left: 10px;">Success!</p>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Subscribe</h4>
            </div>
            <div class="modal-body">
                <p id="showId" class="hidden"></p>
                <p id="showName" class="hidden"></p>
                <p id="modal-content"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="subscribe">Subscribe!</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);

        function ViewModel() {
            var self = this;

            self.topRated = ko.observable();
            self.searchResults = ko.observable();

            $.ajax({
                dataType: "json",
                type: 'POST',
                url: '@Url.Action("TopRated", "TvShows")',
                success: topRated
            });

            function topRated(data) {
                var shows = new Array();

                for (var i = 0; i < data.length; i++) {
                    shows.push(new TvShow(data[i].Id, data[i].Name, data[i].ReleaseDate));
                }

                self.topRated(shows);
            }

            self.search = $('#search').on('input', function () {
                $.ajax({
                    dataType: "json",
                    type: 'POST',
                    url: '@Url.Action("Search", "TvShows")',
                    data: {
                        input: $('#search').val()
                    },
                    success: displaySearchResults
                });
            });

            function displaySearchResults(data) {
                var shows = new Array();

                for (var i = 0; i < data.length; i++) {
                    shows.push(new TvShow(data[i].Id, data[i].Name, data[i].ReleaseDate));
                }

                self.searchResults(shows);
            }
        }

        function TvShow(id, name) {
            var self = this;

            self.id = ko.observable(id);
            self.name = ko.observable(name);
        }

        $('#subscribe').click(function () {
            $.ajax({
                dataType: "json",
                type: 'POST',
                url: '@Url.Action("Subscribe", "TvShows")',
                data: {
                    id: $('#showId').text(),
                    name: $('#showName').text()
                },
                success: function(success) {
                    if (success) {
                        $('#myModal').modal('hide');
                        $('#succesMessage').removeClass('hidden');
                    }
                }
            });
        });

        $('#topRated').on('click', 'a', function () {
            displayInfo(this.id, this.innerText);
        });

        $('#searchList').on('click', 'a', function () {
            displayInfo(this.id, this.innerText);
        });

        function displayInfo(id, name) {
            $('#succesMessage').addClass('hidden');
            $('#modal-content').text('Subscribe to: ' + name);

            $('#showId').text(id);
            $('#showName').text(name);

            $('#myModal').modal('show');
        }
    });
</script>