@{
    ViewBag.Title = "Watcher";
}

<h1>Welcome to Watcher!</h1>
<p>
    If you like watching TV-shows then this website is great to keep track of new episodes.
    After subscribing to a show you will get automatically notified when a new episode is available.
</p>

<p>It is also possible to subscribe to a TV-show or an actor/actress!</p>

<img id="image" style="width:300px; height: 500px"/>

<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            dataType: "json",
            type: 'POST',
            url: '@Url.Action("GetImage", "Home")',
            success: displayImage,
        });

        function displayImage(image) {
            $('#image').attr('src', 'data:image/png;base64,' + image);
        }
    });
</script>