<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="" password="" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="theMovieDb" value="1" />
    <add key="movieInterval" value="43200000" />
    <add key="showInterval" value="43200000" />
    <add key="personInterval" value="43200000" />
  </appSettings>
  <connectionStrings>
    <add name="WatcherContext" connectionString="Server=(local);Database=Watcher;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="easynetq" connectionString="host=localhost;username=guest;password=guest;timeout=60" />
  </connectionStrings>
</configuration>