@{
    ViewBag.Title = "Watcher";
}

<div id="subscription" class="subscription hidden">
    <div style="float: left; width: 420px;">
        <h2>Tv-show subscriptions</h2>
        <ul id="showSubscriptions" data-bind="foreach: movies">
            <li>
                <a href="javascript:void(0)" data-bind="text: name, attr: { id: id }"></a>
            </li>
        </ul>
    </div>

    <div style="float: left; width: 420px;">
        <h2>Movie subscriptions</h2>
        <ul id="movieSubscriptions" data-bind="foreach: shows">
            <li>
                <a href="javascript:void(0)" data-bind="text: name, attr: { id: id }"> </a>
            </li>
        </ul>
    </div>
    
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Unsubscribe</h4>
                </div>
                <div class="modal-body">
                    <p id="itemId" class="hidden"></p>
                    <p id="itemName" class="hidden"></p>
                    <p id="modal-content"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="subscribe">Unsubscribe</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            dataType: "json",
            type: 'POST',
            url: '@Url.Action("GetSubscriptions", "Subscriptions")',
            success: display
        });

        function display(data) {
            var shows = new Array();
            var movies = new Array();

            for (var i = 0; i < data.Movies.length; i++) {
                shows.push(new ListItem(data.Movies[i].Id, data.Movies[i].Name));
            }

            for (var i = 0; i < data.TvShows.length; i++) {
                movies.push(new ListItem(data.TvShows[i].Id, data.TvShows[i].Name));
            }

            var viewModel = new SubscriptionsViewModel(shows, movies);
            ko.applyBindings(viewModel);

            $('#subscription').removeClass('hidden');
        }

        function ListItem(id, name) {
            var self = this;

            self.id = ko.observable(id);
            self.name = ko.observable(name);
        }


        function SubscriptionsViewModel(tvShows, movies) {
            var self = this;

            self.shows = ko.observableArray(tvShows);
            self.movies = ko.observableArray(movies);
        }

        var isMovie;

        $('#showSubscriptions').on('click', 'a', function () {
            isMovie = false;
            displayInfo(this.id, this.innerText);
        });

        $('#movieSubscriptions').on('click', 'a', function () {
            isMovie = true;
            displayInfo(this.id, this.innerText);
        });

        function displayInfo(id, name) {
            $('#modal-content').text('Unsubscribe: ' + name);

            $('#itemId').text(id);
            $('#itemName').text(name);

            $('#myModal').modal('show');
        }

        $('#subscribe').click(function () {
            $.ajax({
                dataType: "json",
                type: 'POST',
                url: '@Url.Action("UnSubscribe", "Subscriptions")',
                data: {
                    id: $('#itemId').text(),
                    isMovie: isMovie
                },
                success: function(success) {
                    if (success) {
                        $('#myModal').modal('hide');
                        location.reload();
                    } else {
                        $('#myModal').modal('hide');
                    }
                }
            });
        });
    });
</script>